<script lang="ts" setup>
import { ref } from "vue";

const showText = ref("Smile");
function changeText(e: string) {
  showText.value = e;
}
const showImage = ref(5);
const img_src = ref([
  "/feeling_imgs/angry.png",
  "/feeling_imgs/cute.png",
  "/feeling_imgs/excited.png",
  "/feeling_imgs/pain.png",
  "/feeling_imgs/shocked.png",
  "/feeling_imgs/smile.png",
]);
</script>
<template>
  <v-container class="ma-16 text-center">
    <v-row>
      <v-col> <v-img width="430px" :src="img_src[showImage]"></v-img></v-col>
      <v-col
        class="d-flex flex-column mb-6 align-content-center justify-center"
      >
        <strong class="text-h4 text-center pa-4">{{ showText }}</strong>

        <v-btn
          class="pa-2 ma-2"
          @click="
            showImage = 0;
            changeText('Angry');
          "
          :class="{ yellow: showText === 'Angry' }"
          >ANGRY</v-btn
        >

        <v-btn
          class="pa-2 ma-2"
          @click="
            showImage = 1;
            changeText('Cute');
          "
          :class="{ yellow: showText === 'Cute' }"
          >CUTE</v-btn
        >

        <v-btn
          class="pa-2 ma-2"
          @click="
            showImage = 2;
            changeText('Excited');
          "
          :class="{ yellow: showText === 'Excited' }"
          >EXCITED</v-btn
        >

        <v-btn
          class="pa-2 ma-2"
          @click="
            showImage = 3;
            changeText('Pain');
          "
          :class="{ yellow: showText === 'Pain' }"
          >PAIN</v-btn
        >

        <v-btn
          class="pa-2 ma-2"
          @click="
            showImage = 4;
            changeText('Shocked');
          "
          :class="{ yellow: showText === 'Shocked' }"
          >SHOCKED</v-btn
        >

        <v-btn
          class="pa-2 ma-2"
          @click="
            showImage = 5;
            changeText('Smile');
          "
          :class="{ yellow: showText === 'Smile' }"
          >SMILE</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.yellow {
  background-color: yellow;
}
</style>
