<script lang="ts" setup>
import { ref } from "vue";
const num = ref("0");
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-text-field
          label="Please input Number"
          v-model="num"
          type="input"
          :rules="[(v) => !!v || 'Number is not empty!!']"
          required
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col v-for="n of parseInt(num)" :key="n" cols="1">{{ n }}</v-col>
    </v-row>
  </v-container>
</template>
