<script lang="ts" setup>
import { ref } from "vue";
const sum = ref<number>(0);

class Product {
  id: number;
  name: string;
  price: number;
  constructor(id: number, name: string, price: number) {
    this.id = id;
    this.name = name;
    this.price = price;
  }
}

const orderProduct = ref<Product[]>([]);

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

// medthod
function addProduct(e: any) {
  if (orderProduct.value.length > -1) {
    orderProduct.value.push({
      id: e,
      name: products.value[e].name,
      price: products.value[e].price,
    });
  }
  sum.value = sum.value + products.value[e].price;
}
</script>
<template>
  <v-container class="fill-height ma-5 pa-5">
    <v-row>
      <!-- card item -->
      <v-col cols="6">
        <v-container style="max-height: 550px" class="overflow-y-auto">
          <v-row>
            <v-col v-for="item in products" :key="item.id" cols="4">
              <v-card class="ma-0 text-center">
                <v-card-title>{{ item.name }}</v-card-title>
                <v-card-text>{{ item.price }}</v-card-text>
                <v-card-actions>
                  <v-btn
                    block
                    color="green-lighten-2"
                    variant="flat"
                    @click="addProduct(item.id)"
                    >Add</v-btn
                  ></v-card-actions
                >
              </v-card>
            </v-col></v-row
          >
        </v-container>
      </v-col>

      <!-- table -->
      <v-col>
        <v-container class="ma-1 overflow-y-auto px-3">
          <v-table height="480px">
            <thead>
              <tr>
                <th>id</th>
                <th>name</th>
                <th>price</th>
              </tr>
            </thead>

            <tbody v-if="orderProduct.length > 0">
              <tr v-for="(item, index) in orderProduct" :key="index">
                <td>{{ item.id + 1 }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
              </tr>
            </tbody>
            <tbody class="text-body-1 text-center font-weight-bold">
              <tr>
                <td colspan="4" v-if="orderProduct.length === 0">No Data</td>
              </tr>
            </tbody>
          </v-table>
          <strong class="text-h3 font-weight-bold">Sum : {{ sum }}</strong>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
