<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const useCounter = useCounterStore();
</script>
<template>
  <v-container>
    <v-row>
      <v-col><p>Second Component</p></v-col>
    </v-row>

    <v-row>
      <v-col>{{ useCounter.doubleCount }}</v-col>
    </v-row>

    <v-row>
      <v-col><v-btn @click="useCounter.decrease">DECREASE</v-btn></v-col>
    </v-row>
  </v-container>
</template>
